.container {
    display: grid; 
    grid-template-columns: 0.6fr 1.4fr 1fr 1fr; 
    grid-template-rows: 0.4fr 1.2fr 1.1fr 1.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "nav-indice header-buscador header-buscador header-buscador"
      "nav-indice videos videos videos"
      "nav-indice videos videos videos"
      "nav-indice videos videos videos"; 
  }
  .nav-indice { 
    grid-area: nav-indice;
    background-color: white;
    margin-bottom: -1047px;

   }
   *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   }

  hr{
    background-color: black;
    height: 1px;
    border: none;
  }

  #navbar{
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    color: rgb(253, 249, 249);
  }

  #nav-menu{
    background-color: white;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    
    
  }

  

  .nav-text{
  display: flex;
  justify-content: start;
  list-style: none;
  height: 50px;
  padding: 1rem;
  }

  .nav-text a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  .nav-text:hover{
    background-color: rgba(144, 144, 144, 0.219);
    cursor: pointer;
  }
  .nav-menu-items{
    width: 100%;
  }
  .nav-icon{
    padding-right:1rem;
    color: #909090;
  }

  #youtube-logo{
    color: #f90201;
    padding-right: 0.2rem;
  }

  #navbar-toggle{
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  #navbar-toggle h1{
    color: black; 
   
    display: flex;
    
  }
  #navbar-toggle a{
    text-decoration: none;
  }
  .fa-bars{
    color: black;
    
  }
  .nav-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
/* acabamos el menu*/

  .header-buscador { 
    grid-area: header-buscador;
    display:flex;
    justify-content: space-between;
    padding: 1rem; 
  }

.header-buscador  .search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14rem;
  }
  .search-input{
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }
  .search-button{
    height: 35px;
    border: 1px solid #ccc;
    border-left: none;
    color: #545454;
    background: #f8f8f8;
    padding: 0 25px;
    cursor: pointer;

  }
  .search-button:hover{
    background: #f5f5f5;
  }
  .search-button2{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background-color: rgba(144, 144, 144, 0.219);

  }
  .header-login {
     grid-area: header; 
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .botones-header{
      display: grid;
      grid-template-columns: repeat(4,auto);
      align-items: center;
      gap: 1.5rem;
      justify-content: right;
      
      
    }
    .user{
      border-radius: 50%;
      width: 36px;
      height:36px;
      background-color: #aaa;
    }
  .videos {
     grid-area: videos; 
     background-color: #aaa;
      width: 100%;
      height: 100%;
      padding: 15px 15px;
      border-top: 1px solid #ddd;
      overflow-y: scroll;
      margin-top: -250px;
     
    }
    
    .videos2 {
      display: grid;
      grid-gap:40px 20px;
      grid-template-columns: repeat(4,1fr);
      margin-left: 15rem;
      margin-top: 0;
    }
    
    .video {
      width: 100%;
      display: block;
    }

    .thumbnail {
      width: 100%;
      height: 170px;
    }
    
    .thumbnail img {
      object-fit: cover;
      height: 94%;
      width: 100%;
    }
    .author img {
      object-fit: cover;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }

    .details {
      display: flex;
    }
    
    .title {
      display: flex;
      flex-direction: column;
    }
    
    .title h3 {
      color: rgb(3, 3, 3);
      line-height: 18px;
      font-size: 14px;
      margin-bottom: 6px;
    }
    
    .title a,
    span {
      text-decoration: none;
      color: rgb(96, 96, 96);
      font-size: 12px;
    }
    
  